* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
}

#css-svg-sample {
  background-image: url(@assets/react.svg);
  background-size: contain;
  width: 200px;
  height: 200px;
}